<html lang="en">
    <head>
      <title>Posts</title>
    </head>
    <body>
        <h1>Posts</h1>
        <ul>
                <li>User ID: {{ user.id }}</li>
                <p>User Name: {{ user.name }}</p>
        </ul>
    </body>
</html>
